BOT_TOKEN=
XUI_BASE_URL=https://example.com
XUI_WEB_BASE_PATH=
XUI_USERNAME=
XUI_PASSWORD=
XUI_INSECURE=false
DEFAULT_CURRENCY=RUB
SUBSCRIPTION_BASE_URL=
SUPPORT_USERNAME=
SUPPORT_TG_ID=
ADMIN_TG_ID=
BOT_USERNAME=
ADMIN_WEB_USER=
ADMIN_WEB_PASSWORD=
ADMIN_WEB_SECRET=
